.formulario{
    margin: 30px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 80px;
    color: white;
}



.inputFormulario{
    height: 70px;
    margin-top: 170px;
    margin-left: 10px;
    padding: 10px;
}

.precioFinal{
    margin-top: 80px;
    margin-left: -990px;
    color: white;
    position: relative;
    left: 455px;
}

.botonFormulario{
    height: 70px;
    margin-top: -110px;
    margin-left: 750px;
    width: 300px;
}


.textoError{
    color: white;
    
}


.inputNumero{
    margin-left: 768px;
    margin-top: -215px;
    height: 70px;
    width: 280px;
}

.Eliminar{
    margin-top: -125px;
    width: 300px;
    height: 70px;
}
.Eliminar:hover{
    background-color:red;
    color: white;
}

.botonFormularioVerificar{
    height: 70px;
    margin-top: -125px;
    margin-left: 750px;
    width: 300px;
}


.botonFormularioVerificar:hover{
    background-color: blue;
    color: white;
}
.comprarForm{
    margin-left: 780px;
    width: 400px;
    height: 50px;
}

.comprarForm:hover{
    background-color: green;
    color: white;
}